extends caucus-layout

block content
  #left-menu
    #toggle-nav
      i.fa.fa-navicon
    #side-nav
      #input-area
        input#add-country(type='text', autocomplete='on', placeholder='Add to GSL')
      #list-area
        h2.side-nav-title Speakers List
        ul#speakers-list

  #wrapper(class=expandClass)
    ul#rollcall
      li.country-card-placeholder
        img.country-flag(src='/images/no-country.jpg')
        h1.country-name No countries in Speakers List
    #gsl-player
      h1.time-left#seconds-left= timePerSpeaker
      h2.time-left-label seconds
      #gsl-action
        i.fa.fa-stop.right-border-button(data=gslTime)
        i.fa.fa-play.right-border-button(id='playButton')
        i.fa.fa-check.right-border-button
